extends ./layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/user.css")
    link(rel="stylesheet", href="/css/forms.css")
    meta(charset='utf-8')
    link(rel='stylesheet', href='css/styles.css')
    
block content
    p
        center 
            h5 Welcome to Wrench App, this is a demo app for HandCash Connect            
            br
        center
            #connectButton(url=redirectUrl) Connect with HandCash
            script(type='text/javascript', src='js/connect_button.js')

            
